[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-instant-rest = { editable = true, git = "https://github.com/django-instant-rest/django-instant-rest.git", ref = "00da41f0671b694d524f17b8a3dc829bb1bd0f05" }
python--dateutil = "*"
faker = "*"
pillow = "*"
requests = "*"

[requires]
python_version = "3"
