{% extends "base.html" %}
{% block title %} {{ product.title }} {% endblock %}

{% block content %}
    <h1 class="text-4xl font-bold m-3">{{ title_prefix }}</h1>
    <p class="text-2xl font-serif text-gray-600 m-3 mb-2">{{ title_suffix }}</p>
    <p class="text-2xl text-black mx-3">{{ price }} </p>
    <!-- product scroller (7-11) -->
    <div class="w-full flex snap overflow-scroll">
        {% for image in images %}
        <img class="child w-full snap-start" src= "{{ image.url }}" alt="whoopsie">
        {% endfor %}
    </div>

    {% autoescape off %}
    <div class="font-serif m-4">{{ product.description }}</div>
    {% endautoescape %}
    {% for i in related_products%}
    <button class= "button bg-transparent font-semibold py-2 px-4 border border-gray-500" 
    onclick="../views.product_page(request, i.innertext)">{{ i.title }}</button>
    {% endfor %}   
{% endblock %}
<script src="yourscript.js"></script>